<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--/*/ <th:block th:include="fragments/template.html :: header">
        </th:block> /*/-->
    </head>
    <body>
        <h1>This is the header section common to all page</h1>
        <div th:replace="fragments/template.html :: body"></div>
        <div>
            <p th:text="'The share price is currently ' + ${price}">Placeholder text</p>
        </div>
        <div th:replace="fragments/template.html :: footer"></div>
    </body>
</html>